/*affects printed page dimensions*/
@page {
    size: 25cm 35.7cm;
    margin: 5mm 5mm 5mm 5mm; 
}

body {
	margin: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: white;
	background-color: black;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

#main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
}

segment {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#footer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	display: flex;
	justify-content: center;
}

.small {
	display: flex;
	margin: 20px;
	padding: 6px;
	border-style: outset;
	box-shadow: 2px 2px darkslategray;
	flex-grow: 1;
	border-color: lightseagreen;
	background-color: lightseagreen;
    justify-content: center;
}

.small:hover {
	box-shadow: 4px 4px darkslategray;
}

.chartContainer {
	color: lightseagreen;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 30px;

}

.chart {
	margin-left: 30px;
	margin-right: 30px;
}

.button {
	color: white;
	display: flex;
	justify-content: center;
	margin: 20px;
	padding: 6px;
	border-style: outset;
	box-shadow: 3px 3px lightseagreen;
	flex-grow: 1;
	border-color: lightseagreen;
	text-decoration: none;
	max-width: 150px;
}

.downloadBar {
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-style: outset;
	box-shadow: 3px 3px lightseagreen;
	border-color: lightseagreen;
	margin: 20px;
	padding: 6px;
}

.singleDownload {
	color: white;
	font-size: 12px;
	text-decoration: none;
	padding-top: 10px;
}

.singleDownload:hover {
	color: lightcoral;
}

.button:hover {
	color: white;
	box-shadow: 4px 4px lightseagreen;
	background-color: darkslategray;
}

h2 {
	color: lightseagreen;
	text-shadow: 1px 1px;
}

h2:hover {
	color: lightcoral;
}

.chart {
  color: lightseagreen;
}