body {
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* #bottomLogo {
  position: fixed;
  bottom: 0;
} */

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

segment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

footer {
  display: flex;
  position: fixed;
  bottom: 0;
}

.small {
  display: flex;
  margin: 20px;
  padding: 6px;
  border-style: outset;
  box-shadow: 2px 2px darkslategray;
  flex-grow: 1;
  border-color: lightseagreen;
  background-color: lightseagreen;
  justify-content: center;
}

.large {
  display: flex;
  margin: 20px;
  padding: 6px;
  border-style: outset;
  box-shadow: 2px 2px darkslategray;
  flex-grow: 3;
  border-color: lightcoral;
  background-color: lightcoral;
}

.small:hover {
  box-shadow: 4px 4px darkslategray;
}

.large:hover {
  box-shadow: 4px 4px darkslategray;
}

.button {
  color: white;
  display: flex;
  margin: 20px;
  padding: 6px;
  border-style: outset;
  box-shadow: 3px 3px lightseagreen;  
  flex-grow: 1;
  border-color: lightseagreen;
}

.button:hover {
  color: lightcoral;
  box-shadow: 4px 4px lightseagreen;  
}

h2 {
  color: lightseagreen;
  text-shadow: 1px 1px;
}

h2:hover {
  color: lightcoral;
}